.App-logo {
  height: 6rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.APILink{
  color: #61dafb;
  text-decoration: none;
}

.APILink:hover{
  transition: 300ms;
  transform: scale(1.1);
}

.ContainerProgram{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 77%;
  /* color: #f4f4f4; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
